<!DOCTYPE html>
<html lang="fr" data-layout-decorate="~{fragment/layout}"
	xmlns:th="http://www.thymeleaf.org">
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<title>admin</title>
</head>

<body class="nav-md">
	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
	<div class="x_panel">admin</div>
     </div>
	<!-- /page content -->
</body>
</html>
