<!DOCTYPE html>
<html lang="fr" data-layout-decorate="~{fragment/layout}"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>utilisateur</title>
</head>

<body class="nav-md " >

	<!-- page content -->
	<div class="right_col "  role="main" data-layout-fragment="content">
	 <div class="page-title">
              <div class="title_left">
                <h3>INSCRIPTION D'UN EDITEUR</h3>
              </div>

              
              
            </div>
		<div class="x_panel">
		
		 <div class="x_title">
                    <h2>Formulaire d'inscription <small>Prestataire</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="x_content">
                  	<form th:action="@{editionEditeur}" method="post" enctype="multipart/form-data">
                                <h4> editer votre compte  </h4>
	                               <br>
                                <div class="row">
									
                                            <input type="hidden" th:field="${editeur.id_utilisateur}" class="form-control" id="name" placeholder="nom"required="required" >
                                   
                                        
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" th:field="${editeur.nom_utilisateur}" class="form-control" id="name" placeholder="nom"required="required" >
                                   
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="text"  th:field="${editeur.prenom_utilisateur}" class="form-control" id="email" placeholder="prenom " required="required" >
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="email" th:field="${editeur.email_utilisateur}" class="form-control" id="phone" placeholder="email">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" th:field="${editeur.telephone_utilisateur}" class="form-control" id="subject" placeholder="telephone">
                                        </div>
                                    </div>
								 <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <input type="date" th:field="${editeur.age_utilisateur}" class="form-control" id="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    
                                     <div class="item form-group col-md-12 col-sm-12 col-xs-12">
									<label class="control-label col-md-3 col-sm-3 col-xs-12"
										for="name">Genre <span class="required">*</span>
									</label>

									<div class="col-md-8 col-sm-8 col-xs-12" required="required">
									<span class="c">
										<input type="radio" th:field="${editeur.sexe_utilisateur}" value="H" checked="checked" />
										 <label>HOMME</label> 
									</span>
									<span class="c">
										<input type="radio" th:field="${editeur.sexe_utilisateur}" value="F" />
										 <label> FEMME</label>
									</span>
									</div>

							</div>
							
                                     <div class=" col-md-12 col-sm-12">
                                      <div class="form-group">
                                     	 <input type="file" class="form-control" name="picture" >
                                     	 </div>
                                     </div>      
                                        
							<div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <input type="text" th:field="${editeur.username}" class="form-control" id="subject" placeholder="login">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <input type="password" th:field="${editeur.password}" class="form-control" id="subject" placeholder="mot de passe">
                                        </div>
                                    </div>
                                </div>
                               
                                <!-- <div class="form-group">
                                    <textarea class="form-control" id="message" placeholder="Message"></textarea>
                                </div> -->

                                <div id="submit-btn">
                                  
                                     <button  type="submit"class="btn btn-general btn-yellow">Valider</button>
                                </div>
								
                            </form>
                  </div>
		
		</div>
	</div>
	<!-- /page content -->

</body>
</html>
