   <div class="top_nav" data-th-fragment="fNavigationEnregistrementInsc">
   
          <div class="nav_menu_enregistrement">
        
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
         	
     	  
         		
              <ul class="nav navbar-nav navbar-right">
                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-map-marker"></i>
                  </a>
                </li>
              </ul>
                <a data-th-href="@{/choix}" class="couteur"
						style="margin-left: 10px;">
						<button
							class="animated flipInY  btn btn-primary"
							style="">
							<span>Inscription</span>
						</button>
					</a> 
					 <a data-th-href="@{/login}" class="couteur"
						style="margin-left: 10px;">
						<button
							class="animated flipInY  btn btn-primary"
							style="">
							<span>Connexion</span>
						</button>
					</a> 
            
              
            </nav>
          </div>
        </div>
        <!-- /top navigation -->