<!DOCTYPE html>
<html lang="fr" data-layout-decorate="~{fragment/layout}"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>accueil pres</title>
</head>

<body class="nav-md">
	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
       			<div class="x_panel">
          <h3>TABLEAU DE BORD</h3>
      <hr class="cb" size="5">
            <div class="row top_tiles">
               <a href="#" class="couteur">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats  ca caa">
                  <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
                  <div class="count"><span text="9">9</span></div>
                  <h3>Nouvelle demande</h3>
                  <p>demande de service.</p>
                </div>
              </div>
              </a>
            <a href="#" >
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats  ca cab">
                  <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                  <div class="count"><span text="18">18</span></div>
                  <h3>services en cours</h3>
                  <p>service en cours</p>
                 
                </div>
              </div>
             </a>
             
             <a  href="#">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats  ca cac">
                  <div class="icon"><i class="fa fa-check-square-o"></i></div>
                  <div class="count"><span text="5">5</span></div>
            	   <h3>Services effectuer </h3>
                  <p>Service effectuer</p>
                </div>
              </div>
              </a>
            <a  href="#">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats  ca cad">
                  <div class="icon"><i class="fa fa-check-square-o"></i></div>
                  <div class="count"><span text="13">13</span></div>
                  <h3 >mes commissions</h3>
                  <p >mes commissions</p>
                </div>
              </div>
            </div>
			</a>
            


          </div>
          </div>  
	<!-- /page content -->
</body>
</html>
