
<html lang="fr" data-layout-decorate="~{fragmentSite/layoutSite}"
	 xmlns:th="http://www.thymeleaf.org">

    <!-- Header -->  
    <!-- Header Ends -->

    <!-- Home -->
    <!-- Home Ends -->

    <!-- About -->
    <!-- About Ends -->

    <!-- Team -->
    <!-- Team Ends -->

    <!-- Statement -->
    <!-- Statement Ends -->

    <!-- Services -->
    
    <!-- Services Ends -->

    <!-- Portfolio --> 
    <!-- Portfolio Ends -->

    <!-- Testimonials -->

    <!-- Testimonials Ends -->

    <!-- Pricing -->
    
    <!-- Pricing Ends -->

    <!-- Stats -->

    <!-- Stats Ends -->

    <!-- Clients -->
    <!-- Clients Ends -->

    <!-- Blog -->
    <!-- Blog Ends -->

    <!-- Contact -->
    <!-- Contact Ends -->

    <!-- Google Map -->
    <!-- Google Map Ends -->

    <!-- Footer  -->
    <!-- Footer Ends -->

    <!-- JQuery -->


</html>