 <meta charset="utf-8">
 <div data-th-fragment="fAbout">
<section id="about">
<div class="abouts">
						 <div class="col-md-12 col-sm-12 wow slideInDown">
		                 <div class=" centrerText horizontal-heading">   
                           <!--  <h5 class="">Services</h5> -->
                            <h1 class="titre_fonctionnement">Qui sommes nous ?</h1>	 
                        </div>
                        </div>
		</div>
<!-- <img alt="" src="images/cleanlines.png" width="" height="" style=""> -->
        <!-- About 01 -->
        <div id="about-01">

            <div class="content-box-lg-about">

                <div class="container">

                    <div class="row">
						
                        <!-- About Left Side -->
                        <div class="col-md-6 col-sm-6 wow slideInLeft" data-wow-duration="1s">

                            <div id="about-left">
                                <div class="vertical-heading">
                                   <h5>A propos de nous</h5>
                                    <h2>Qui <strong>sommes</strong><br>nous?</h2>
                                </div>
                            </div>

                        </div>

                        <!-- About Right Side -->
                        <div class="col-md-6 col-sm-6 wow slideInRight" data-wow-duration="1s">

                            <div id="about-right">
                               <p> CleanPro est une plateforme qui vent des services et produits ; 
                                met en relation entre aide-ménagères, prestataires a domicile 
                                et particuliers et entreprises au Gabon. En quelques clics, 
                                vous trouverez une aide-ménagère et des services et produits fiables, 
                                déclarés et assurés pour votre ménage et bureaux.</p>
                                <p> Les aide-ménagères et prestataires inscrits sur la plateformes
                                 sont des indépendantes répondant aux critères de sélection de CleanPro,
                                  ou les employées d'une société de prestations partenaire de CleanPro.</p>
                            </div>

                        </div>

                    </div>

                    <!-- About Bottom -->
                    <div class="">

                        <div class="col-md-12 wow fadeInUp" data-wow-duration="2s">

                            <div id="about-bottom">
                            <table>
	                            <tr>
		                           <td><img src="img/logo/icn2.png" alt="About Us" class="img-responsive"></td>
		                            <td><img src="img/logo/icn4.png" alt="About Us" class="img-responsive"></td>
		                            
		                             <td> <img src="img/logo/icn1.png" alt="About Us" class="img-responsive"></td>
	                            </tr>
                            </table>
                               
                                
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- About 01 Ends -->

        <!-- About 02 -->
        <div id="about-02">

            <div class="content-box-md">

                <div class="container">

                    <div class="row">

                        <div class="col-md-4 col-sm-4 wow fadeInLeft">
                            <!-- About item 01 -->
                             <img alt="" src="images/tum-vision.jpg" width="359px" height="200px" style="">
                            <div class="about-item text-center">
                           
                                <!-- <i class="fa fa-rocket"></i> -->
                                <h3>Mission</h3>
                                <hr>
                                <p>Notre mission est d'apporter,  notre expérience, la meilleure solution qualité-prix pour répondre au mieux à vos attentes en matière d'hygiène au GABON.</p>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="2s">
                            <!-- About item 02 -->
                            <img alt="" src="images/tum-mission.jpg" width="359px" height="200px" style="">
                            <div class="about-item text-center">
                               <!--  <i class="fa fa-eye"></i> -->
                                <h3>Vision</h3>
                                <hr>
                                <p>Atteindre une note de 95 % de satisfaction pour les 3 prochaines années lors des sondages de satisfaction de la clientèle effectués par notre ordre professionnel.</p>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-4  wow fadeInRight">
                            <!-- About item 03 -->
                            <img alt="" src="images/tum-strategy.jpg" width="359px" height="200px" style="">
                            <div class="about-item text-center">
                               <!--  <i class="fa fa-pencil"></i> -->
                                <h3>Passion</h3>
                                <hr>
                                <p>Nous sommes passionner de faire du Gabon l'un des pays dont les villes font parties des villes les plus propores d'Afrique  .</p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- About 02 Ends -->
        
		
		
		<img alt="" src="images/chaise.jpg" width="100%" height="350px" style="">
    </section>
 </div>