 <meta charset="utf-8">
 <div data-th-fragment="favAbout" xmlns:th="http://www.thymeleaf.org">
<section id="about">
<!-- <img alt="" src="images/cleanlines.png" width="" height="" style=""> -->
        <!-- About 01 -->
        <div id="about-01">

            <div class="content-box-lg-about">

                <div class="container">

                    <div class="row">

                        <!-- About Left Side -->
                     <!--    <div id="team-members" class="owl-carousel">
                        <div class="col-md-4 case" th:each=" categorieService: ${ListeCategorieParServiceSite}">
                        <h1 th:text="${categorieService.libelle_categorie}">></h1>
                        </div>
                        </div>  -->  
					
                        <!-- About Right Side -->
                        <div class="col-md-12 col-sm-12 wow slideInLeft">

                    <div class="vertical-heading">
                       <div class="centrerText"><h2>Avec CleanPro, trouvez votre aide-ménagère de confiance près de chez vous dès maintenant</h2></div>
                    </div>
</div></div>
                    <!-- About Bottom -->
                    <div class="">

                        <div class="col-md-12 wow fadeInUp" data-wow-duration="2s">

                            <div id="about-bottom">
                       		   <img src="images/abouts.png" width="1000px" alt="About Us" class="img-responsive">   
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- About 01 Ends -->

        <!-- About 02 -->
        
        <!-- About 02 Ends -->
        
		
    </section>
 </div>