 <div data-th-fragment="fClient">
<section id="clients">

        <div class="content-box-sm">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 text-center">

                        <div class="horizontal-heading">
                            <h5>Ils nous font confience</h5>
                            <h2>Nos <strong>Partenaires</strong></h2>
                        </div>

                    </div>

                </div>

                <div class="row wow bounceInLeft" data-wow-duration="1s" data-wow-delay=".5s">

                    <div class="col-md-12">

                        <div id="clients-list" class="owl-carousel owl-theme">

                            <!-- Client 01 -->
                            <div class="client">
                                <img src="img/client/client-1.png" class="img-responsive" alt="client">
                            </div>
                            <!-- Client 02 -->
                            <div class="client">
                                <img src="img/client/client-2.png" class="img-responsive" alt="client">
                            </div>
                            <!-- Client 03 -->
                            <div class="client">
                                <img src="img/client/client-3.png" class="img-responsive" alt="client">
                            </div>
                            <!-- Client 04 -->
                            <div class="client">
                                <img src="img/client/client-4.png" class="img-responsive" alt="client">
                            </div>
                            <!-- Client 05 -->
                            <div class="client">
                                <img src="img/client/client-5.png" class="img-responsive" alt="client">
                            </div>
                            <!-- Client 06 -->
                            <div class="client">
                                <img src="img/client/client-6.png" class="img-responsive" alt="client">
                            </div>
                            <!-- Client 07 -->
                            <div class="client">
                                <img src="img/client/client-7.png" class="img-responsive" alt="client">
                            </div>
                            <!-- Client 08 -->
                            <div class="client">
                                <img src="img/client/client-8.png" class="img-responsive" alt="client">
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>
    </div>