 <meta charset="utf-8"/>
 <div data-th-fragment="fFonctionnement">
<section id="fonctionnement">

        <!-- About 01 -->
        <div id="fonctionnement-01">

            <div class="content-box-lg_Site">

                <div class="container">

                    <div class="row">

                        <!-- About Left Side -->
                        
                           <div class="container">
			                  <div class="col-md-12 col-sm-12 wow slideInLeft">
			                    <div class="vertical-heading">
			                       <div class="centrerText"><h2>Comment faire une reservation en seulement quelque clic?</h2></div>
			                    </div>
							</div>
								
                    <div class="row">

                        <div class="col-md-4 col-sm-4 wow fadeInLeft">
                            <!-- About item 01 -->
                            <div class="about-item_fonctionnement text-center">
                                
                                <img src="img/logo/fonct2.jpg" style="width:72px; height:72px" class="text-center">                
                                                <h3 class="fonctCoul">1. inscrivez vous</h3>
                                <hr>
                                <p>l'inscription vous permet de devenir clients succeptible de faire une demande de service.</p>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="2s">
                            <!-- About item 02 -->
                            <div class="about-item_fonctionnement text-center">
                               <img src="img/logo/fonct1.jpg" style="width:72px; height:72px" class="text-center">
                                <h3 class="fonctCoul">2. connectez vous pour faire une demande de service</h3>
                                <hr>
                                <p>Lorsque vous vous connecter, vous avez maintenant la possibilité de faire une demande de service</p>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-4  wow fadeInRight">
                            <!-- About item 03 -->
                            <div class="about-item_fonctionnement text-center">
                                <img src="img/logo/fonct3.jpg" style="width:72px; height:72px" class="text-center">
                                <h3 class="fonctCoul">3. Demandez votre aide-ménagère</h3>
                                <hr>
                                <p>Comparez les profils des aides-ménagères disponibles et choisissez une pour votre demande de réservation.</p>
                            </div>

                        </div>

                    </div>
                    <hr class="cox">
                  <h1 class="centrerText" style="color:#f4c613;">Foire aux questions<img alt="" src="images/faq.jpg" width="200px" height="120px"> </h1>
						<br>
						<button class="accordion">Comment trouver son aide-ménagère sur CleanPro ?</button>
						<div class="panel">
						  <p>Entrez votre code postal puis choisissez la date, la fréquence de vos prestations et vos besoins particuliers (du repassage par exemple). Ensuite, vous serez invité à sélectionner ou désélectionner les profils de prestataires parmi un panel d'aide-ménagers disponibles
						   au moment que vous aurez choisi et dans votre quartier. Ces prestataires peuvent choisir eux-mêmes leurs tarifs en fonction de leurs
						    performances. Ainsi vous pouvez les choisir en fonction de leur tarif et des avis des clients précédents.
							Une fois votre sélection faites, un texto sera envoyé à tous ceux que vous avez retenus et le premier à accepter sera votre nouvel aide-ménager ! Pour maximiser
							 les chances de trouver le bon, nous vous conseillons de laisser environ six aides-ménagères dans votre sélection. Vous recevrez ensuite un
							  e-mail de confirmation avec vos identifiants et toutes les informations sur votre nouveau prestataire.</p>
						</div>
						
						<button class="accordion">Combien coûte une heure de ménage via CleanPro?</button>
						<div class="panel">
						  <p>Sur CleanPro, chaque prestataire est libre de fixer ses tarifs. En effet, il nous tient à coeur que chacune des aides-ménagères soit rémunérées en fonction de la qualité de son travail et des retours clients. Lors de votre réservation, vous aurez donc accès à une large gamme de prix en fonctions de vos besoins.
						  .</p>
						</div>
						
						<button class="accordion">J'ai réservé des heures de ménage en ligne - que se passe-t-il ensuite ?</button>
						<div class="panel">
						  <p>Vous recevez une notification par SMS et e-mail dès qu’un intervenant accepte votre demande de réservation. Le temps de réponse à votre demande de réservation varie en fonction des profils sélectionnés ainsi que des détails de votre réservation (lieu d’habitation, créneau horaire). Cela ne prend généralement pas plus de quelques heures. Si les profils sélectionnés ne répondent pas favorablement à votre demande, notre Service Clients reviendra vers vous pour connaître vos disponibilités et vous aider à trouver l’aide-ménagère qui répondra au mieux à vos besoins.</p>
						</div>
						<button class="accordion">Comment puis-je me préparer pour la première prestation ?</button>
						<div class="panel">
						  <p>N’hésitez pas à prendre contact avec votre aide-ménagère sur le chat de l’application afin d’anticiper votre première rencontre. Communiquez-lui vos préférences et priorités en terme de ménage pour un résultat de ménage optimal.</p>
						</div>
						<button class="accordion">Dois-je fournir des produits de nettoyage ?</button>
						<div class="panel">
						  <p>Oui, veuillez fournir les produits de nettoyage nécessaires à votre domicile, et vérifier que votre matériel fonctionne (aspirateur, serpillère etc). N’hésitez pas à demander conseil à votre aide-ménagère si vous n'êtes pas certain de ce dont vous avez besoin.</p>
						</div>
						<button class="accordion">Dois-je être présent pendant le nettoyage ?</button>
						<div class="panel">
						  <p>Lors de la première prestation, nous vous recommandons d’être présent afin de présenter votre domicile à l’aide-ménagère, lui montrer où se situe votre matériel de ménage ainsi que pour échanger de vive voix sur vos priorités. Pour les prestations suivantes, vous pouvez donner un double des clefs à votre aide-ménagère afin qu’elle puisse effectuer ses missions en votre absence. À défaut de pouvoir laisser un double de vos clefs et si vous êtes dans l’incapacité de pouvoir ouvrir à votre intervenant, confiez vos clefs à une personne de confiance qui pourra le faire à votre place. Ne laissez jamais vos clefs dans votre boîte aux lettres afin d’éviter tout risque de vol.</p>
						</div>
						<button class="accordion">J’ai perdu mon identifiant ou mon mot de passe, comment puis-je les récupérer?</button>
						<div class="panel">
						  <p>Si vous avez oublié votre mot de passe, il suffit d´entrer à nouveau votre adresse e-mail et nous vous enverrons un nouveau mot de passe.</p>
						</div>
                </div>
                        <!-- About Right Side -->
                       

                    </div>

                    <!-- About Bottom -->
                    

                </div>

            </div>

        </div>
        <!-- About 01 Ends -->

        <!-- About 02 -->
        <div id="about-02">

            <div class="content-box-lg_site">

                <!-- <div class="container">
						<center><h3>Clients</h3></center>
                    <div class="row">

                        <div class="col-md-4 col-sm-4 wow fadeInLeft">
                            About item 01
                            <div class="about-item_fonctionnement text-center">
                                
                                <img src="img/logo/téléchargement.png" style="width:72px; height:72px" class="text-center">                
                                                <h3>1. inscrivez vous</h3>
                                <hr>
                                <p>l'inscription vous permet de devenir clients succeptible de faire une demande de service.</p>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="2s">
                            About item 02
                            <div class="about-item_fonctionnement text-center">
                               <img src="img/logo/icone-connexion-png-1.png" style="width:72px; height:72px" class="text-center">
                                <h3>2. connectez vous pour faire une demande de service</h3>
                                <hr>
                                <p>Lorsque vous vous connecter, vous avez maintenant la possibilité de faire une demande de service</p>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-4  wow fadeInRight">
                            About item 03
                            <div class="about-item_fonctionnement text-center">
                                <img src="img/logo/Sweep-512.png" style="width:72px; height:72px" class="text-center">
                                <h3>3. Demandez votre aide-ménagère</h3>
                                <hr>
                                <p>Comparez les profils des aides-ménagères disponibles et choisissez une pour votre demande de réservation.</p>
                            </div>

                        </div>

                    </div>
                    <hr class="cox">
                   <center><h3>prestataire</center>
                   
					<div class="row">

                        <div class="col-md-4 col-sm-4 wow fadeInLeft">
                            About item 01
                            <div class="about-item_fonctionnement text-center">
                               <div class="d"><img src="img/logo/téléchargement.png" style="width:72px; height:72px" class="text-center"></div>   
                                <h3>1. Inscrivez vous</h3>
                                <hr>
                                <p>l'inscription vous permet de postuler et devenir aide menagere </p>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="2s">
                            About item 02
                            <div class="about-item_fonctionnement text-center">
                                   <img src="img/logo/info-256.png" style="width:72px; height:72px" class="text-center">
                                <h3>2. Postulez maintenant</h3>
                                <hr>
                                <p>Lorsque vous postuler, vous devenez officielement aide menagere sur la plate forme cleanpro.</p>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-4  wow fadeInRight">
                            About item 03
                            <div class="about-item_fonctionnement text-center">
                                 <img src="img/logo/icone-connexion-png-1.png" style="width:72px; height:72px" class="text-center">
                                <h3>3. Connecter vous pour commencer le service</h3>
                                <hr>
                                <p>Une fois connecter vous pouvez maintenant recevoir des demande de service.</p>
                            </div>

                        </div>
                         

                    </div>
                </div> -->

            </div>

        </div>
        <!-- About 02 Ends -->
		<img alt="" src="images/qsNous.png" width="" height="" style="">
    </section>
 </div>