 <meta charset="utf-8"/>
 <div data-th-fragment="fFooter" xmlns:th="http://www.thymeleaf.org">
 <footer class="text-center">
        <div class="container">
        
        
        <div class="row">

                    <div class="col-md-4">

                        <!-- Contact Left -->
                        <div id="contact-left">

                            
                            <p class="contactCouleur"></p>

                            <div id="offices">

                                <div class="row">

                                    <div >

                                        <div class="office contactCouleur">
                                            <h4>Siège de Libreville</h4>
                                            <ul class="office-details ">
                                                <li><i class="fa fa-mobile"></i><span>+(55) 879 58 87 46</span></li>
                                                <li><i class="fa fa-envelope"></i><span>support@solo.com</span></li>
                                                <li><i class="fa fa-map-marker"></i><span>524 Mina Street Building 05<br>Newyork, USA.</span></li>
                                            </ul>
                                        </div>

                                    </div>
                                

                                </div>

                            </div>

                            
                        </div>

                    </div>
                    
                         <div class="col-md-4">

                        <!-- Contact Left -->
                        <div id="contact-left">

                            
                            <p class="contactCouleur"></p>

                            <div id="offices">

                                <div class="row">

                                    <div >

                                        <div class="office contactCouleur">
                                            <h4>Téléchargez notre appli</h4>
                                            <ul class="office-details ">
                                                <li><a href="#"><img src="images/gp.png" /></a><br>
                                               <!--  <li><i class="fa fa-envelope"></i><span>UBA</span></li><br>
                                                <li><i class="fa fa-map-marker"></i><span>UNESCO</span></li> -->
                                            </ul>
                                        </div>

                                    </div>
                                

                                </div>

                            </div>

                            
                        </div>

                    </div>
                    
                    <div class="col-md-4">
								
                        <!-- Contact Right -->
                        <div id="contact-right">
                        <div class="row"><br>
								<p>Abonnez-vous à notre newsletter</p>
        
                               <form th:action="@{creationAbonne}" method="POST">
									<input class="cc" type="text" th:field="${abonne.email_abonne}" name="email" placeholder="Votre adresse e-mail"/>
									<button class="btn btn-success">Inscrivez-vous</button>
								</form>
			            <!-- <form >
									<input class="cc" type="text"  name="email" placeholder="Votre adresse e-mail"/>
									<button class="btn btn-success">Inscrivez-vous</button>
								</form> -->
			            </div> 
							
                        </div>

                    </div>

                </div>
        
        <hr>
            <!-- <div class="row">
            
                <div class="col-md-12">
                <p>Abonnez-vous à notre newsletter</p>
                <br>
                   <form action="">
                   
				<input type="text" name="email" placeholder="Entrez votre code postal ici"/>
				<button class="btn btn-success">Lancer la recherche</button>
			</form>
                </div>
            </div>
             <div class="row"><br>
                <div class="col-md-12">
                    <p>
                    Copyright © 2020 <span>CleanPro</span> Tous droits réservés
                    </p>
                </div>
            </div> -->
            
            <div class="row">
             <div class="col-md-12">
			                    <p>
			                   nous prêtons très attention à vos besoins| Copyright © 2020 <span>CleanPro</span> Tous droits réservés |
			                   
                                <a class="facebook" href="#"><i class="fa fa-facebook"></i> </a>|
                                <a class="twitter" href="#"><i class="fa fa-twitter"></i> </a>|
                              <a class="instagram" href="#"><i class="fa fa-instagram"></i> </a>
			                    </p>
			                </div>
            </div>
        </div>

        <!-- Back To Top -->
        <a href="#home" id="back-to-top" class="btn btn-sm btn-yellow btn-back-to-top smooth-scroll hidden-sm hidden-xs" title="home" role="button">
            <i class="fa fa-angle-up"></i>
        </a>

    </footer>

    </div>