
 <section id="home" data-th-fragment="fHome">

        <!-- Background Video -->
        <video id="home-bg-video" poster="dvideo/solo.jpg" autoplay loop muted>
            <source src="video/solo.mp4" type="video/mp4">
            <source src="video/solo.ogv" type="video/ogg">
            <source src="video/solo.webm" type="video/webm">
        </video>

        <!-- Overlay -->
        <div id="home-overlay"></div>

        <!-- Home Content -->
        <div id="home-content">

            <div id="home-content-inner" class="text-center">

                <div id="home-heading">
                   <!--  <h1 id="home-heading-1">CLEANPRO</h1><br> -->
                   <br>
                     <h1 id="home-heading-2"> <span> </span></h1> 
                      <h1 id="home-heading-2"> <span></span></h1> 
                 
                </div>

                <div id="home-text">
                    
                </div>

                <div id="home-btn">
                  
                </div>

            </div>

        </div>

        <!-- Arrow Down -->
        <a href="#about" id="arrow-down" class="smooth-scroll">
            <i class="fa fa-angle-down"></i>
        </a>

    </section>
