 <meta charset="utf-8"/>
 <div data-th-fragment="fPortfolio">
<section id="portfolio">
<div >
        <div class="content-box-md">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 text-center wow slideInDown">
                        <div class="horizontal-heading">
                            
                            <h2>Pourquoi reserver avec Cleanpro ?</h2>
                        </div>
                    </div>

                </div>

                <div class="row" data-wow-duration="1s">

                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <!-- Pricing Table 01 -->
                        <div class="pricing-table">
                            <div class="type">
                                <h4>Un domicile impeccable sans gérer la paperasse</h4>
                            </div>

                            <div class="price">

                                <div class="row">

                                    
                                   
                                </div>

                            </div>
                          <p>Sur la plateforme Helpling, vous payez en ligne de manière sécurisée par CB, PayPal ou prélèvement, uniquement une
                             fois la prestation réalisée et après vérification du nombre d'heures réellement consommées. Vous n'avez aucun contrat de
                              travail à signer ou de cotisations sociales à payer lorsque vous faites appel à un prestataire de notre plateforme, 
                              et vous retrouverez simplement toutes  vos factures sur votre espace personnel ainsi qu'une attestation fiscale pour
                               bénéficier des 50% de réduction d'impôt.
								</p>
                           
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="3s">

                        <!-- Pricing Table 02 -->
                        <div class="pricing-table">
                            <div class="type">
                                <h4>Des aides-ménagères en qui vous pouvez avoir confiance</h4>
                            </div>

                            <div class="price">


                            </div>
                            <p>Les aides-ménagères inscrites sur la plateforme sont soit des prestataires indépendantes sélectionnées 
                            par les équipes CleanPro, soit des salariées de sociétés de services à la personne partenaires.
                             Leurs compétences sont systématiquement validées par les avis de clients laissés après chaque
                             prestation. Vous pouvez évidemment garder la même aide-ménagère dans le cadre de prestations régulières.</p>
                            

                        </div>

                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInRight">

                        <!-- Pricing Table 03 -->
                        <div class="pricing-table">
                            <div class="type">
                                <h4>Un service client à votre écoute</h4>
                            </div>

                            <div class="price">

                                <div class="row">

                                    
                                  

                                </div>

                            </div>
                            <p>Votre satisfaction est notre priorité, c’est pourquoi notre service clientèle se
                             fera un plaisir de vous accompagner et de répondre à vos questions par e-mail.
                              Le service client est ouvert de 09h à 17h du lundi au vendredi au 09 75 18 21 12 ou
                               à l’adresse contact@helpling.fr pour répondre à vos questions et vous accompagner
                                tout au long de votre relation avec votre aide-ménagère. Si vous avez des 
                            questions sur notre fonctionnement, n'hésitez pas à consulter notre portail d’aide.
                            </p>

                        </div>

                    </div>

                </div>

            </div>
			</div>
        </div>
    </section>
    </div>