<meta charset="utf-8">
 <div data-th-fragment="fsousService" xmlns:th="http://www.thymeleaf.org">
<section id="services">

        <!-- Services 01 -->
        <div id="services-01">
            <div class="content-box-lg">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12 text-center wow slideInDown">

                            <div class="horizontal-heading">
                                <h5></h5>
                                <h2>Service de la categorie <span th:text="${servCat.libelle_categorie}"></span></h2>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-7 col-sm-7 wow slideInLeft">
                        <img  th:src="@{getPhoto_categorie(photo_categorie=${servCat.photo_categorie})}"width="682px" height="458px">
                          <!--  <img src="img/services/bandeau-equipe-menage.jpg" alt="laptop" class="img-responsive"> --> 
                        </div>
                        <div class="col-md-5 col-sm-5 wow slideInRight">

                            <!-- Service 01 -->
                            <div class="service">
                                <div class="row" th:each="service: ${service}">

                                    <div class="col-md-2 col-sm-2">
                                        <div class="icon text-right">
                                            <i class="fa fa-paint-brush"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-sm-10">
                                    
                                        <h4 th:text="${service.libelle_service}"></h4>
                                        <p th:text="${service.description_service}">.</p>
                                    </div>

                                </div>
                            </div>

                          
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <!-- Services 01 Ends -->

        <!-- Services 02 -->
         <!-- Services 02 Ends -->

    </section>
    </div>