  <meta charset="utf-8">
  <div data-th-fragment="fteteEquipe">
  <section id="equipes">
 
        <div class="content-box-lg ">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 wow fadeIn">

								 <div class="col-md-12 col-sm-12 wow slideInRight">
			                    <div class="vertical-heading">
			                     <div class="centrerText ">
			                  		  <h1 class="titre_fonctionnement"><i ></i> Espaces prestataires</i> </h1>
                       			  		                    
			                       </div>
			                    </div>
							</div>
                    </div>

                </div>

            </div>

        </div>
		
    </section>
<!-- <section id="statement">

        <div class="content-box-lg content-box-lg_statement">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 wow fadeIn">

                        <div id="" class="text-center">

                           
								<div class="container">
						<center><h3>Faites votre reservation en seulement trois etapes</h3></center>
                    <div class="row">

                        <div class="col-md-4 col-sm-4 wow fadeInLeft">
                            About item 01
                            <div class="about-item_fonctionnement text-center">
                                
                                <img src="img/logo/unnamed.png" style="width:72px; height:72px" class="text-center">                
                                                <h3>1. inscrivez vous</h3>
                                <hr>
                                <p>l'inscription vous pour pouvoir vous connecter et faire des reservations.</p>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="2s">
                            About item 02
                            <div class="about-item_fonctionnement text-center">
                               <img src="img/logo/icone-connexion-png-1.png" style="width:72px; height:72px" class="text-center">
                                <h3>2. Connectez vous et reservez maintenant</h3>
                                <hr>
                                <p>Lorsque vous vous connecter, vous avez maintenant la possibilité de faire une reservation</p>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-4  wow fadeInRight">
                            About item 03
                            <div class="about-item_fonctionnement text-center">
                                <img src="img/logo/Sweep-512.png" style="width:72px; height:72px" class="text-center">
                                <h3>3. Payez vous services</h3>
                                <hr>
                                <p>Apres avoir reservez vous recevrez une confirmation de la part du prestataire avant de payer vos services.</p>
                            </div>

                        </div>

                    </div>
                

                    </div>
                </div>
						
						
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section> -->
    </div>