  <meta charset="utf-8">
  <div data-th-fragment="fteteService">
  <section id="teteServc">
 
        <div class="content-box-lg ">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 wow fadeIn">

								 <div class="col-md-12 col-sm-12 wow slideInLeft">
			                    <div class="vertical-heading">
			                       <div class="centrerText "> <h1 class="titre_fonctionnement"><i ></i>Categorie de prestation</i> </h1></div>
			                    </div>
							</div>
                    </div>

                </div>

            </div>

        </div>
		
    </section>

    </div>