<!DOCTYPE html>
<html lang="fr" data-layout-decorate="~{fragment/layout}"
	xmlns:th="http://www.thymeleaf.org">


<head>
<title>couleur</title>
</head>

<body class="nav-md " >

	<!-- page content -->
	<div class="right_col "  role="main" data-layout-fragment="content">
	<h1>Ajout d'une couleur</h1>
		<div class="x_panel">
		
		 <div class="x_title">
                   
                    <span ></span>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="x_content">
                  	<form th:action="@{/creationDr}" class="form-horizontal form-label-left" method="post">
								
								
								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12"
										for="name">Libelle drapeau<span class="required">*</span>
										
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input class="form-control col-md-7 col-xs-12"
											id="libelle sous service"
											data-validate-length-range="6" data-validate-words="2"
											placeholder="libelle"  required="required"
											type="text" th:field="${drapeau.libelle_dr}">
									</div>
								</div>
								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12"
										for="name">Libelle couleur<span class="required">*</span>
										
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										 <div th:each="s:${listeCouleur}">
										    <input type="checkbox" id="coding" name="sport" th:value="${s.id_coul}" th:field="${cc.id_coul}">
										    <label for="coding" th:text="${s.libelle_coul}"></label>
										  </div>
									</div>
								</div>
								
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <button  type="submit" id="submit"  class="btn btn-primary" >VALIDER</button>
                        </div>
                      </div>
                      			          
                      <div class="ln_solid"></div>
                    </form>
                  </div>
                  
                  
		</div>
	</div>
	<!-- /page content -->

</body>
</html>
